.exerciseroute {
  max-width: 1200px;
  margin-inline: auto;
}

.exerciseroute__heading {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  color: var(--primary-highlight-color);
  padding-block: 32px;
}