.rootBoundary {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.actions {
  display: flex;
  justify-content: center;
}

.button {
  display: flex;
  align-items: center;
  text-decoration: none;
}
