.button {
  border: 0;
  color: var(--foreground-color-2);
  cursor: pointer;
  background: var(--highlight-color-1);
  padding: 8px;
}

.buttonIcon {
  font-size: 1.5rem;
}

.secondaryButton {
  border: 0;
  color: var(--foreground-color-2);
  cursor: pointer;
  background: var(--highlight-color-2);
  padding: 8px;
}