.button {
  border: 0;
  color: var(--highlight-foreground-color);
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  background: var(--highlight-color-1);
  padding: 8px;
}

.button:hover,
.button:focus {
  background-color: var(--highlight-color-2);
}

.buttonIcon {
  font-size: 1.5rem;
}

.secondaryButton {
  border: 0;
  color: var(--highlight-foreground-color);
  cursor: pointer;
  background: var(--highlight-color-2);
  padding: 8px;
}

.select {
  background: var(--background-color-2);
  border: 1px solid var(--outline-color-1);
  color: var(--foreground-color-1);
  font-size: 1rem;
  margin: auto;
  padding: 8px;
}

.hidden {
  left: -9999px;
  position: absolute;
  top: -9999px;
}

.input {
  border: 1px solid var(--outline-color-1);
  background-color: var(--background-color-2);
  color: var(--foreground-color-1);
  font-size: 1rem;
  padding: 4px 2px;
  text-align: center;
  outline: none;
  width: 100%;
  box-sizing: border-box;
}

.input:hover:enabled {
  border-color: var(--outline-color-3);
}

.input:focus,
.input:focus:hover {
  border-color: var(--highlight-color-1);
}
