.button {
  border: 0;
  color: var(--foreground-color-2);
  cursor: pointer;
  font-size: 1rem;
  background: var(--highlight-color-1);
  padding: 8px;
}

.buttonIcon {
  font-size: 1.5rem;
}

.secondaryButton {
  border: 0;
  color: var(--foreground-color-2);
  cursor: pointer;
  background: var(--highlight-color-2);
  padding: 8px;
}

.dialog {
  --content-padding: 12px;
  background-color: var(--background-color-3);
  border: 1px solid var(--highlight-color-1);
  color: var(--foreground-color-1);
  display: flex;
  flex-direction: column;
  height: 50vh;
  width: 50vw;
  padding: 0;
}

.dialogActions {
  display: flex;
  gap: 12px;
  justify-content: center;
  padding: var(--content-padding);
}

.dialogContent {
  flex-grow: 1;
  padding: var(--content-padding);
}

.dialogHeader {
  background: var(--highlight-color-1);
  color: var(--foreground-color-2);
  font-size: 1.5rem;
  padding: var(--content-padding);
}

.select {
  background: var(--background-color-2);
  border: 1px solid var(--outline-color-1);
  color: var(--foreground-color-1);
  font-size: 1rem;
  margin: auto;
  padding: 8px;
}