.dragDrop {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.instructions {
  background: var(--highlight-color-1);
  color: white;
  padding: 16px;
  display: flex;
  gap: 12px;
  align-items: center;
}

.instructionsIcon {
  font-size: 1.5rem;
}

.main {
  display: flex;
}

.horizontal .main {
  flex-direction: column;
  gap: 20px;
}

.vertical .main {
  flex-direction: row;
  gap: 1fr;
}

.vertical .questions {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  gap: 4px;
}

.horizontal .questions {
  display: grid;
  grid-auto-flow: var(--grid-auto-flow, 'column');
  gap: 12px;
  justify-content: center;
}

.choices {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  justify-content: flex-start;
}

.vertical .choices {
  flex-direction: column;
}

.actions {
  display: flex;
  gap: 12px;
  justify-content: center;
}

.button {
  display: flex;
  gap: 6px;
  align-items: center;
}