.dragdrop {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.dragdrop__instructions {
  background: var(--primary-highlight-color);
  color: white;
  padding: 16px;
  display: flex;
  gap: 12px;
  align-items: center;
}

.dragdrop__instructions-icon {
  font-size: 1.5rem;
}

.dragdrop__main {
  display: flex;
}

.dragdrop--horizontal .dragdrop__main {
  flex-direction: column;
  gap: 20px;
}

.dragdrop--vertical .dragdrop__main {
  flex-direction: row;
  gap: 1fr;
}

.dragdrop--vertical .dragdrop__questions {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  gap: 4px;
}

.dragdrop--horizontal .dragdrop__questions {
  display: grid;
  grid-auto-flow: var(--grid-auto-flow, 'column');
  gap: 4px;
  justify-content: center;
}

.dragdrop__choices {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  justify-content: center;
}

.dragdrop--vertical .dragdrop__choices {
  flex-direction: column;
}

.dragdrop__actions {
  display: flex;
  justify-content: center;
}

.dragdrop__button {
  border: 0;
  color: var(--secondary-text-color);
  cursor: pointer;
  background: var(--primary-highlight-color);
  padding: 8px;
  display: flex;
  gap: 6px;
  align-items: center;
}