.dragDrop {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.main {
  display: flex;
}

.horizontal .main {
  flex-direction: column;
  gap: 20px;
}

.vertical .main {
  flex-direction: row;
  justify-content: space-between;
}

.choices {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  justify-content: flex-start;
}

.vertical .choices {
  flex-basis: max-content;
  flex-direction: column;
}

.actions {
  display: flex;
  gap: 12px;
  justify-content: center;
}

.button {
  display: flex;
  gap: 6px;
  align-items: center;
}
