.fillChart {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.items {
  display: grid;
  background-color: var(--background-color-3);
  border: 1px solid var(--outline-color-1);
  padding: 16px;
}

.actions {
  display: flex;
  justify-content: center;
}

.checkAnswersButton {
  display: flex;
  gap: 6px;
  align-items: center;
  margin-block-start: 20px;
  margin-inline: auto;
}

.emptyItem {
  background: var(--background-color-1);
  border: 1px solid var(--outline-color-1);
}
