.multiplechoice {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.multiplechoice__actions {
  display: flex;
  justify-content: center;
  height: 2rem;
}

.multiplechoice__next-button {
  background: var(--root-background-color);
  color: var(--secondary-text-color);
  border: 1px solid var(--drag-drop-background-color);
  cursor: pointer;
  padding-block: 8px;
  flex-basis: 50%;
}

.multiplechoice__next-button:hover {
  border-color: var(--primary-highlight-color);
}

.multiplechoice__instructions {
  background: var(--primary-highlight-color);
  color: white;
  padding: 16px;
  display: flex;
  gap: 12px;
  align-items: center;
}

.multiplechoice__instructions-icon {
  font-size: 1.5rem;
}