.multipleChoice {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.actions {
  display: flex;
  justify-content: center;
  height: 2rem;
}

.nextButton {
  background: var(--background-color-2);
  color: var(--foreground-color-2);
  border: 1px solid var(--outline-color-1);
  cursor: pointer;
  padding-block: 8px;
  flex-basis: 50%;
}

.nextButton:hover {
  border-color: var(--highlight-color-1);
}

.instructions {
  background: var(--highlight-color-1);
  color: white;
  padding: 16px;
  display: flex;
  gap: 12px;
  align-items: center;
}

.instructionsIcon {
  font-size: 1.5rem;
}