.shortAnswer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.actions {
  display: flex;
  gap: 12px;
  justify-content: center;
}

.checkAnswersButton {
  display: flex;
  gap: 6px;
  align-items: center;
  margin-block-start: 20px;
  margin-inline: auto;
}

.items {
  border: 1px solid var(--outline-color-1);
  background: var(--background-color-3);
  padding: 12px 8px;
  width: 100%;
  box-sizing: border-box;
}
