.form {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.heading,
.title,
.label {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.label {
  flex-grow: 1;
  padding-block-start: var(--content-padding);
}

.select {
  margin: auto;
}