.button,
.button:disabled {
  background: var(--root-background-color);
  color: var(--secondary-text-color);
  border: 2px solid var(--drag-drop-background-color);
  cursor: pointer;
  padding-block: 8px;
  flex-basis: 75%;
}

.selectedCorrect,
.selectedCorrect:disabled {
  border-color: var(--selected-correct-color);
}

.unselectedCorrect,
.unselectedCorrect:disabled {
  border-color: var(--unselected-correct-color);
}

.incorrect,
.incorrect:disabled {
  border-color: var(--incorrect-color);
}