.choiceInput {
  display: flex;
  color: var(--foreground-color-1);
  flex-direction: column;
  gap: 2px;
}

.correctAnswer {
  color: var(--selected-correct-color);
  text-align: center;
}

.input {
  border: 2px solid var(--outline-color-2);
  border-left-width: 0;
  border-right-width: 0;
  border-top-width: 0;
  color: var(--foreground-color-1);
  font-size: 1rem;
  text-align: center;
  outline: none;
}

.input.correct {
  border-color: var(--selected-correct-color);
}

.input.incorrect {
  border-color: var(--incorrect-color);
}

.input:hover:enabled {
  border-color: var(--outline-color-3);
}

.input:focus:enabled {
  border-color: var(--highlight-color-1);
}

.input,
.input:disabled {
  background: transparent;
}

.label {
  text-align: center;
}
