.dialog::backdrop {
  background-color: var(--background-color-1);
  opacity: .5;
}

.dialog {
  --content-padding: 12px;
  background-color: var(--background-color-3);
  border: 1px solid var(--highlight-color-1);
  color: var(--foreground-color-1);
  min-height: 25vh;
  width: 50vw;
  padding: 0;
  display: flex;
}

.form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
