.item {
  background-color: var(--background-color-3);
  border: 1px solid var(--outline-color-1);
  display: inline-flex;
  padding: 6px;
  cursor: pointer;
}

.item:focus {
  border-color: var(--highlight-color-1);
  outline-color: var(--highlight-color-1);
}