.vertical {
  display: inline-flex;
  gap: 4px;
  flex-direction: column;
  position: relative;
}

.horizontal {
  display: inline-flex;
  gap: 6px;
  height: 1.75rem;
  position: relative;
  width: max-content;
}

.content {
  background-color: var(--drag-drop-background-color);
  color: var(--primary-text-color);
  min-width: 30px;
  padding-inline: 8px;
  display: flex;
  justify-content: center;
}

.horizontal .zone {
  min-width: 50px;
}

.vertical .zone {
  min-height: 2rem;
}

.zone {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.content,
.zone {
  border: 1px solid var(--drag-drop-border-color);
}

.zoneEntered {
  border-color: var(--primary-highlight-color);
}

.zoneHasIncorrect {
  border-color: var(--incorrect-color);
}

.icon {
  --icon-size: .75rem;
  --icon-position: calc(-.5 * var(--icon-size));
  font-size: var(--icon-size);
  position: absolute;
  right: var(--icon-position);
  top: var(--icon-position);
}

.iconCorrect {
  color: var(--primary-highlight-color);
}

.iconIncorrect {
  color: var(--incorrect-color);
}

.numIncorrect {
  color: var(--incorrect-color);
}

.horizontal .numIncorrect {
  display: flex;
  align-items: center;
}

.vertical .numIncorrect {
  bottom: 0;
  font-size: .75rem;
  position: absolute;
  right: 0;
}

.incorrectArrow {
  margin-inline-end: 12px;
}