.dropTarget {
  --alt-font-size: .75rem;
  --alt-padding-inline: 8px;
  --border-width: 1px;
}

.vertical {
  display: inline-flex;
  gap: 4px;
  flex-direction: column;
  position: relative;
}

.horizontal {
  display: inline-flex;
  gap: 4px;
  height: max-content;
  position: relative;
  width: max-content;
}

.alt {
  background: var(--outline-color-1);
  font-size: var(--alt-font-size);
  height: fit-content;
  padding-inline: var(--alt-padding-inline);
  text-align: center;
}

.content {
  background-color: var(--background-color-3);
  min-width: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.emptyContent {
  margin-block-end: calc(var(--alt-font-size) + (var(--alt-padding-inline) - (2 * var(--border-width))));
}

.primary {
  text-align: center;
  padding-inline: 8px;
}

.horizontal .content {
  min-width: var(--drop-target-content-min-width, 30px);
}

.horizontal .zone {
  min-width: 50px;
}

.vertical .zone {
  min-height: 2rem;
}

.zone {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-inline: 8px;
}

.content,
.zone {
  border: var(--border-width) solid var(--outline-color-1);
}

.zoneEntered {
  border-color: var(--highlight-color-1);
}

.zoneHasIncorrect {
  border-color: var(--incorrect-color);
}

.icon {
  --icon-size: .75rem;
  --icon-position: calc(-.5 * var(--icon-size));
  font-size: var(--icon-size);
  position: absolute;
  right: var(--icon-position);
  top: var(--icon-position);
}

.iconCorrect {
  color: var(--highlight-color-1);
}

.iconIncorrect {
  color: var(--incorrect-color);
}

.numIncorrect {
  color: var(--incorrect-color);
}

.horizontal .numIncorrect {
  display: flex;
  align-items: center;
}

.vertical .numIncorrect {
  bottom: 0;
  font-size: .75rem;
  position: absolute;
  right: 2px;
}

.incorrectArrow {
  margin-inline-end: 12px;
}
