.vertical {
  display: inline-flex;
  gap: 4px;
  flex-direction: column;
  position: relative;
}

.horizontal {
  display: inline-flex;
  gap: 4px;
  height: 1.75rem;
  position: relative;
  width: max-content;
}

.content {
  background-color: var(--background-color-3);
  color: var(--foreground-color-1);
  min-width: 30px;
  padding-inline: 8px;
  display: flex;
  justify-content: center;
}

.horizontal .content {
  min-width: var(--drop-target-content-min-width, 30px);
}

.horizontal .zone {
  min-width: 50px;
}

.vertical .zone {
  min-height: 2rem;
}

.zone {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-inline: 8px;
}

.content,
.zone {
  border: 1px solid var(--outline-color-1);
}

.zoneEntered {
  border-color: var(--highlight-color-1);
}

.zoneHasIncorrect {
  border-color: var(--incorrect-color);
}

.icon {
  --icon-size: .75rem;
  --icon-position: calc(-.5 * var(--icon-size));
  font-size: var(--icon-size);
  position: absolute;
  right: var(--icon-position);
  top: var(--icon-position);
}

.iconCorrect {
  color: var(--highlight-color-1);
}

.iconIncorrect {
  color: var(--incorrect-color);
}

.numIncorrect {
  color: var(--incorrect-color);
}

.horizontal .numIncorrect {
  display: flex;
  align-items: center;
}

.vertical .numIncorrect {
  bottom: 0;
  font-size: .75rem;
  position: absolute;
  right: 2px;
}

.incorrectArrow {
  margin-inline-end: 12px;
}