.exerciseTypeButton {
  display: flex;
  gap: 6px;
  align-items: center;
  margin-block-start: 20px;
  margin-inline: auto;
}

.loading {
  display: flex;
  justify-content: center;
}

.actions {
  margin-block-start: 20px;
  display: flex;
  justify-content: space-between;
}

.adjacent {
  display: flex;
  gap: 6px;
  align-items: center;
  text-decoration: none;
}

.nextExercise {
  composes: adjacent;
  align-self: flex-end;
  margin-inline-start: auto;
}

.previousExercise {
  composes: adjacent;
  align-self: flex-start;
  margin-inline-end: auto;
}
