.exerciseResults {
  --padding-block: 12px;
  border: 1px solid var(--drag-drop-background-color);
}

.button {
  display: flex;
  gap: 6px;
  align-items: center;
  margin: auto;
}

.header {
  background: var(--primary-highlight-color);
  color: white;
  padding-block: var(--padding-block);
  display: flex;
  justify-content: center;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-block: var(--padding-block);
  align-items: center;
}

.content {
  width: 100%;
  border-spacing: 0;
}

.term {
  width: 25%;
  text-align: end;
  border-bottom: 1px solid var(--drag-drop-background-color);
}

.value {
  padding-inline-start: 12px;
  border-bottom: 1px solid var(--drag-drop-background-color);
}

.advice {
  margin-block: 0 12px;
}