.footer {
  background-color: var(--background-aside-color);
  color: var(--highlight-foreground-color);
  display: flex;
  align-items: center;
  padding: 8px;
  margin-block-start: 16px;
}

.actions {
  display: flex;
  justify-content: center;
}

.links {
  list-style: none;
  margin: 0;
  padding: 0;
}

.copyright {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.settingsButton {
  border: 0;
  background: none;
  cursor: pointer;
  padding: 8px;
  display: flex;
  align-items: center;
}

.settingsButton:hover,
.settingsButton:focus {
  background: color-mix(in srgb, var(--background-aside-color), white 25%);
}

.settingsIcon {
  font-size: 1rem;
}