.header {
  background: var(--highlight-color-1);
  color: white;
  display: flex;
  position: relative;
  overflow: hidden;
}

.heading {
  flex-grow: 1;
  display: grid;
  grid-template-areas:
    "logo title"
    "logo description";
  grid-template-columns: 120px 1fr;
  grid-template-rows: repeat(2, 1fr);
  margin: 0;
}

.description {
  grid-area: description;
  font-size: 1rem;
  padding-inline-start: 300px;
}

.logo {
  grid-area: logo;
}

.title {
  color: white;
  text-decoration: none;
  font-size: 2.5rem;
  grid-area: title;
}

.forkMe {
  --background-color: #333;
  --foreground-color: white;
  background-color: var(--background-color);
  color: var(--foreground-color);
  transform: rotate(45deg);
  position: absolute;
  top: 30px;
  text-decoration: none;
  width: 200px;
  text-align: center;
  right: -55px;
  transition: color ease-out 300ms, background-color ease-out 300ms;
}

.forkMe:hover {
  background-color: var(--foreground-color);
  color: var(--background-color);
}