.lessonsNavigation {
  --width: 400px;
  background: var(--background-color-3);
  position: absolute;
  width: var(--width);
  height: 100vh;
  top: 0;
  left: calc(var(--width) * -1);
  z-index: 1;
  transition: left .25s ease-in;
  border-right-width: 0;
}

.lessonsNavigation.expanded {
  left: 0;
  border-right: 1px solid var(--outline-color-1);
}

.header {
  display: flex;
}

.title {
  color: var(--foreground-color-2);
  background: var(--highlight-color-1);
  font-size: 1.25rem;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.openButton {
  background: var(--highlight-color-2);
  position: fixed;
  top: 0;
  left: 0;
}