.multipleChoiceQuestion {
  --container-padding: 12px;
  background: var(--background-color-3);
  display: flex;
  flex-direction: column;
  position: relative;
}

.content {
  border: 1px solid var(--outline-color-1);
  border-bottom-width: 0;
  display: flex;
  font-size: 1.25rem;
  justify-content: center;
  padding: var(--container-padding);
}

.choicesContainer {
  border: 1px solid var(--outline-color-1);
  padding: var(--container-padding);
}

.index {
  --offset: 4px;
  font-size: .75rem;
  position: absolute;
  left: var(--offset);
  top: var(--offset);
}
