.multipleChoiceQuestion {
  background: var(--tertiary-background-color);
  display: flex;
  flex-direction: column;
  --container-padding: 12px;
}

.content {
  border: 1px solid var(--drag-drop-background-color);
  display: flex;
  justify-content: center;
  padding: var(--container-padding);
}

.choicesContainer {
  border: 1px solid var(--drag-drop-background-color);
  padding: var(--container-padding);
}