.multipleChoiceQuestion {
  background: var(--background-color-3);
  display: flex;
  flex-direction: column;
  --container-padding: 12px;
}

.content {
  border: 1px solid var(--outline-color-1);
  border-bottom-width: 0;
  display: flex;
  font-size: 1.25rem;
  justify-content: center;
  padding: var(--container-padding);
}

.choicesContainer {
  border: 1px solid var(--outline-color-1);
  padding: var(--container-padding);
}