.progressBar {
  border: 1px solid var(--highlight-color-1);
  display: flex;
  align-content: center;
  position: relative;
}

.completion {
  background: var(--highlight-color-1);
  color: var(--foreground-color-2);
  position: absolute;
  left: 0;
  height: 100%;
  transition: width ease-out .25s;
}

.status {
  position: relative;
  text-align: center;
  width: 100%;
}