.heading {
  font-size: 1.5rem;
  border-bottom: 1px solid var(--highlight-color-1);
  color: var(--highlight-color-1);
}

.settings {
  display: grid;
  grid-template-columns: 30% 1fr;
}

.settingName {
  align-items: center;
  display: flex;
  justify-content: flex-end;
}

.darkModeSettingName {
  composes: settingName;
  align-items: flex-start;
}

.settingContent {
  margin: 0;
  padding-inline-start: 20px;
}

.darkModeLabel {
  cursor: pointer;
}

.darkModeList {
  list-style: none;
  margin: 0;
  padding: 0;
}

.darkModeRadio {
  margin-inline-end: 8px;
}
