.writingChoicesList {
  background: var(--background-color-2);
  border: 1px solid var(--outline-color-1);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 8px;
}

.choice {
  flex-basis: 200px;
  padding-inline-end: 24px;
  width: 0;
}
