.writingInput {
  position: relative;
  width: 100%;
}

.input {
  width: 100%;
}

.input:hover:enabled {
  border-color: var(--outline-color-3);
}

.input:focus,
.input:focus:hover {
  border-color: var(--highlight-color-1);
}

.input::placeholder {
  color: var(--outline-color-3);
}

.incorrect {
  border-color: var(--incorrect-color);
}

.icon {
  --icon-size: .75rem;
  --icon-position: calc(-.5 * var(--icon-size));
  color: var(--highlight-color-1);
  font-size: var(--icon-size);
  position: absolute;
  right: var(--icon-position);
  top: var(--icon-position);
}
