.writingExample {
  --padding-inline: 8px;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--outline-color-1);
  height: max-content;
}

.alt {
  background-color: var(--outline-color-1);
  padding-inline: var(--padding-inline);
  font-size: .75rem;
  text-align: center;
}

.content {
  background-color: var(--background-color-3);
  color: var(--foreground-color-1);
  font-size: 1rem;
  padding-inline: var(--padding-inline);
  text-align: center;
}
