:root {
  --background-color-1: #161616;
  --background-color-2: #1a1a1a;
  --background-color-3: #222;
  --background-aside-color: #333;
  --outline-color-1: #333;
  --outline-color-2: #444;
  --outline-color-3: #999;
  --highlight-color-1: #f93;
  --highlight-color-2: #c60;
  --link-color-1: #69a;
  --link-color-2: #ff0;
  --foreground-color-1: #aaa;
  --foreground-color-2: #fff;
  --incorrect-color: #f00;
  --selected-correct-color: #080;
  --unselected-correct-color: #09f;
}

:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-family:'メイリオ', 'Meiryo', 'Osaka', 'ＭＳ Ｐゴシック', 'MS PGothic', "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Inter, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--background-color-1);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
}